body{
  margin:0;
  font-family:Poppins,sans-serif;

  background:
    linear-gradient(rgba(255,255,255,0.85), rgba(255,255,255,0.85)),
    url('https://www.transparenttextures.com/patterns/gingham.png'),
    #fff5f7;

  color:#5a3a3a;
}

header{
  background:#ffe3ec;
  padding:18px 40px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.logo{
  font-family:'Playfair Display',serif;
  font-size:28px;
  font-weight:700;
}

nav a{
  margin:0 14px;
  text-decoration:none;
  color:#5a3a3a;
  font-weight:500;
}

section{
  padding:80px 40px;
  max-width:1100px;
  margin:auto;
  text-align:center;
}

.btn{
  background:#ff8fb1;
  color:#fff;
  padding:15px 32px;
  border:none;
  border-radius:40px;
  font-size:16px;
  cursor:pointer;
}